@import url("/Color-palette/colors.css");
@import url("/css/header.css");
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

:root {
    --main-text-size: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', serif;
}

.home-main-content {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

span {
    color: var(--secondary-color);
}

.header-icon {
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    margin: 1.5rem;
}

.main-heading {
    font-size: 4rem;
}


.sidebar-item {
    color: var(--primary-color);
    font-size: var(--main-text-size);
    text-decoration: none;

}

.header-link-icon {
    text-decoration: none;
    margin: 1.5rem;
}

.main-buttons {
    margin: 2rem;
}

.link-buttons:hover {
    background-color: rgba(180, 176, 176, 0.459);
    transition: 0.2s ease-in-out;
}

.get-started {
    border: 2px solid var(--primary-color);
}

.get-started:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transition: 0.2s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-size: 1rem;
    font-weight: bolder;
}

.main-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.landing-link {
    text-decoration: none;
}

.link-buttons {
    padding: 1rem;
    border-radius: 5px;
    font-weight: bolder;
    margin: 1rem;
    box-shadow: 1px 3px 6px grey;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--larger-font-size);
}

.introduction-section {
    margin: 1rem auto auto 4rem;
    width: 80%;
    font-size: var(--main-text-size);

}

.frame-div {
    width: 100%;
    height: 190px;
    border: 0;
    transform: scale(1);
    overflow: hidden;
}