@import url("/Color-palette/colors.css");

.typography-section {
    margin: 1rem auto auto 4rem;
    width: 80%;
    font-size: var(--main-text-size);
}

.header-text {
    color: var(--black);
}

.header-medium {
    font-size: 1rem;
}

.header-semi-large {
    font-size: 1.5rem;
}

.header-large {
    font-size: 2rem;
}

.header-extra-large {
    font-size: 2.5rem;
}

.header-huge {
    font-size: 3rem;
}

.small-text {
    font-size: 15px;
}

.grey-text {
    color: var(--example-border);
}

.centered-text {
    text-align: center;
}

.content-left-div {
    text-align: left;
    background-color: var(--example-bg-color);
    width: 50%;
    padding: 1rem;
    border: 2px solid var(--black);
    margin-left: auto;
    margin-right: auto;
}

.frame-div {
    width: 100%;
    border: 0;
    transform: scale(1);
    overflow: hidden;
}