:root {
    --card-color: rgb(211, 211, 211);
    --black: #000000;
    --medium-font-size: medium;
    --large-font-size: large;
    --larger-font-size: larger;
    --bolder-font-weight: bolder;
}

* {
    box-sizing: border-box;
}

.card-section {
    margin: auto auto auto 4rem;
    width: 80%;
}

.highlight-text {
    font-weight: var(--bolder-font-weight);
}

section .example-div {
    width: 80%;
    margin: auto auto 2rem auto;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    background-color: var(--white);
    text-align: left;
}
.horizontal-card-container{
    width: 100%;
}
.horizontal-card {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--white);
    /* text-align: left; */
    width: 50%;
}
.horizontal-card-image{
    width: 50%;
}
.vertical-card {
    width: 25rem;
}

.badge-card {
    width: 25rem;
}

.shadow-card {
    box-shadow: 3px 3px 20px 5px var(--black);
}

.text-overlay-card .overlay-title {
    color: var(--white);
    position: relative;
    bottom: 4rem;
    margin-bottom: -4rem;
}

.image-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.close-icon {
    height: 3rem;
    width: 3rem;
    position: relative;
    margin-left: -3rem;
    bottom: 5px;
    right: -5px;
}

.product-image {
    width: 50%;
    margin-left: 5rem;
}

img {
    width: 100%;
}

.top-header {
    margin: 0.5rem 0 0.5rem 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: var(--larger-font-size);
    text-align: left;
    margin: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: var(--bolder-font-weight);
}

.card-content {
    font-size: var(--large-font-size);
    margin: 1rem;
}

.top-header-card {
    font-size: var(--larger-font-size);
    margin-left: 0.5rem;
}

.image {
    width: 100%;
}

.avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-left: 0 5px;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.label {
    height: 3rem;
    width: 4.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: var(--bolder-font-weight);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stacked-icon {
    height: 3rem;
    width: 3rem;
}

.label-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 1.5rem;
    right: 0.5rem;
    width: 95%;
    margin-right: auto;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: left;
    width: fit-content;
    padding: 0.5rem;
}

.footer a {
    margin: 1rem 0;
    color: var(--white);
    font-weight: var(--bolder-font-weight);
    background-color: var(--primary-color);
    padding: 5px;
    margin: 0.5rem;
}
.frame-div {
    width: 100%;
    border: 0;
    transform: scale(1);
    overflow: hidden;
}
