<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/Slider/slider.css"> 
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/components.css">
    <meta name="author" content="Kotesh Mudila">
    <title>Slider</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>Handy UI</h1>
        </div>
        <div class="main-links">
            <a href="https://github.com/kotesh-arya"><img class="header-icon"
                    src="https://img.icons8.com/windows/64/ffffff/github.png" /></a>
            <a href="https://twitter.com/Kotesh_Mudila"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/twitter--v1.png" /></a>
            <a href="https://www.linkedin.com/in/koteswara-rao-mudila-7aa740159/"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/linkedin.png" /></a>
        </div>
    </header>
    <main>
        <div class="side-bar">
            <ul>
                <li>
                    <h3>Get-started</h3>
                </li>
                <hr>
                <li><a class="sidebar-item" href="/Get-Started/introduction.html">Introduction</a></li>
                <li><a class="sidebar-item " href="/Get-Started/typography.html">Typography</a></li>
                <li><a class="sidebar-item" href="">Colours</a></li>
                <li>
                    <h3>Components</h3>
                </li>
                <hr>
                <li><a class="sidebar-item" href="/Components/Avatar/avatar.html">Avatar</a></li>
                <li><a class="sidebar-item " href="/Components/Alert/alert.html">Alert</a></li>
                <li><a class="sidebar-item " href="/Components/Badge/badge.html">Badge</a></li>
                <li><a class="sidebar-item " href="/Components/Button/button.html">Button</a></li>
                <li><a class="sidebar-item " href="/Components/Card/card.html">Card</a></li>
                <li><a class="sidebar-item" href="/Components/Image/image.html">Image</a></li>
                <li><a class="sidebar-item" href="/Components/Input/input.html">Input</a></li>
                <li><a class="sidebar-item link-active" href="#">Slider</a></li>
                <li><a class="sidebar-item" href="/Components/Grid/grid.html">Grid</a></li>
                <li><a class="sidebar-item" href="/Components/Navigation/navigation.html">Navigation</a></li>
            </ul>
        </div>
        <section class="slider-section">
            <div class="section-title">
                Slider
            </div>
            <div class="section-subtitle">
               Sliders are used to record the user's exact response value and show the results according to that value.
            </div>
            <article>
                <div class="example-div">
                  <div class="slider-container">
                      <input type="range" min="1" max="100" value="50" class="slider">
                  </div>
                </div>
                <div class="code-frame">
                    <iframe class="frame-div"
                    src="https://carbon.now.sh/embed?bg=rgba%28184%2C176%2C141%2C0%29&t=3024-night&wt=none&l=auto&width=680&ds=true&dsyoff=0px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522slider-container%2522%253E%250A%2520%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%253D%2522slider%2522%253E%250A%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </article>
            <div class="section-footer">
                <a href="/Components/Input/input.html">
                    < Input</a> <a href="/Components/Grid/grid.html"> Grid >
                </a>
            </div>
        </section>
    </main>
</body>
</html>